<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GigaChatSDK" version="1.1.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="System.Net.Http.Json" version="8.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.0" />
  <package id="ZXing.Net" version="0.16.11" manuallyInstalled="true" />
</packages>